html {
  height: 100%;
  width: 100%;
}

body{
  background-color:var(--primary-color);
  margin:0px;
  padding:0px
}
:root{
  --primary-color:rgb(43, 43, 43);
  --secondary-color:#020d19;
  --third-color:#0c0c0c;
  --fourth-color:white;
}
.dark-mode{
  --primary-color:rgb(255, 255, 255);
  --secondary-color:#fffaeb;
  --third-color:#fce59f;
  --fourth-color:black;
}
.logo{
  width:40px;
  position:fixed;top:10px;left:10px
  }
nav{
  background-color:var(--third-color);
  margin:0px;
  text-align: right;
  filter:drop-shadow(0px 0px 5px #ff5900);
  overflow: hidden;
  position:fixed;top:0px;
  width:385px;
  z-index:1
}
li{
  display:inline;
  font-family: 'Poppins', sans-serif;
  margin-right:15px;
 background-color:var(--primary-color);
  border-radius:5px;
  padding:5px
}
a{
   color:var(--fourth-color);
  text-decoration:none
}

.about{
  margin-top:50px;
  
}
.template{
  width:150px;
}
button{
  color:var(--fourth-color);
  background-color:#00b012;
  padding:5px;
  border-radius:10px;
  border:none;
  font-family: 'Poppins', sans-serif;
}
.about,.skill,.project{
  color:var(--fourth-color);
  background-color:var(--secondary-color);
  padding:10px;
  margin-bottom:5px
}
.contact {
  background-color:var(--third-color);
  color: var(--fourth-color);
  padding:10px
}

.checked {
  color: yellow;
}
h1{
  font-family: 'IBM Plex Sans', sans-serif;
  color:#ff5900;
  font-size:50px;
  margin:5px;
  
}
h2{
  font-family: 'Poppins', sans-serif;
 color:var(--fourth-color);
  font-size:40px;
 margin-bottom:5px;
  margin-left:5px
}
p{
  color:var(--fourth-color);
  font-family:'Poppins', sans-serif;
}
b{
  color: orange 
}

.bg{
  width:100%
}
.outer-div {
        height:200px;
        width: 350px;
        overflow-x: auto;
        white-space: nowrap;
        margin:10px
        
    }
.card{
        display: inline-block;
        width: 180px;
        height:180px;
        background-color: #262626;
        margin-left:5px;
        border-radius:5px;
        font-family: 'Poppins', sans-serif;      
    }
#C1{
  background-image:url('netflix.jpeg');
  background-size:cover
  
}
#C2{
  background-image:url("maharaj.jpeg");
  background-size:cover;
}
#C3{
  background-image:url("coming.jpg");
  background-size:cover;
}
h5{
  position:relative;
  top:120px;
   color:var(--secondary-color);
  backdrop-filter:blur(10px);
  border-radius:5px;
  padding:5px;
  
}
.links{
  position:relative;
  bottom: 70px;left:5px;
background-color:var(--fourth-color);
  color:var(--primary-color);
  padding:5px;
  border-radius:5px;
  font-size:10px 
  }
   .contact {
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 15px;
      background-color:var(--third-color);
  color: var(--fourth-color);
      }

input {
  border:none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  max-width: 290px;
        max-height: 100px;
      }

      textArea {
        font-size:15px;
        border: 2px solid white;
        background-color: transparent;
        color:white;
        font-family: 'Poppins', sans-serif;
        max-width: 290px;
        max-height: 100px;
        min-width: 290px;
        min-height: 100px;
        border-radius: 5px;
        margin-top:20px
      }
.submit{
  margin-right:150px
}
      .submit.reset:hover {
        background-color: white;
        color: black
      }
.png{
  width:20px;
  margin-top:20px
}

      
