html {
  height: 100%;
  width: 100%;
}

body{
  background-color:var(--primary-color);
  margin:0px;
  padding:0px
}
:root{
  --primary-color:rgb(43, 43, 43);
  --secondary-color:#020d19;
  --third-color:#0c0c0c;
  --fourth-color:white;
}
.dark-mode{
   --primary-color: rgb(255, 255, 255);
  --secondary-color: #fbfbfb;
  --third-color: #f0f8ff;
  --fourth-color: black;
}
.logo{
  width:40px;
  position:fixed;top:10px;left:10px
  }
nav {
  background-color: var(--third-color);
  margin: 0px;
  display:flex;
  justify-content:right;
  filter: drop-shadow(0px 0px 5px #ff5900);
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1
}

li {
  display: inline;
  font-family: 'Poppins', sans-serif;
  padding: 15px
}
li:hover{
  background-color:orange;
  color: black 
}
a{
   color:var(--fourth-color);
  text-decoration:none
}

.about{
  margin-top:50px;
  
}
.template{
  width:150px;
}
button{
  color:var(--fourth-color);
  background-color:#00b012;
  padding:5px;
  border-radius:10px;
  border:none;
  font-family: 'Poppins', sans-serif;
}
.about,.skill,.project{
  color:var(--fourth-color);
  background-color:var(--secondary-color);
  padding:10px;
  margin-bottom:5px
}

.contact {
  padding: 10px;
  display:flex;
  flex-direction:column;
  font-family: 'Poppins', sans-serif;
  background-image:url('con-bg.jpg');
  background-size:cover;
}
.detail{
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  color: white;
  
}
.detail span{
  margin:10px;
}
span a{
  margin:10px;
}
span i{
  margin:10px
}
.form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:var(--third-color);
  color:var(--fourth-color);
  height:100%;width:100%;
  
}
input{
  background-color: transparent;
  border:none;
  border-bottom:2px solid var(--fourth-color);
  padding:15px;
  font-size:20px;
  margin:10px;
  width:250px;
  color:var(--fourth-color);
}
textarea{
  background-color: transparent;
  border:2px solid var(--fourth-color);
  padding:15px;
  font-size:20px;
  margin:10px;
  width:250px;
  color:var(--fourth-color);
  resize: none;
  font-family: 'Poppins', sans-serif;
}
input:focus{
  outline:none;
}
h1{
  font-family: 'IBM Plex Sans', sans-serif;
  color:#ff5900;
  font-size:50px;
  margin:5px;
  
}
h2{
  font-family: 'Poppins', sans-serif;
 color:var(--fourth-color);
  font-size:40px;
 margin-bottom:5px;
  margin-left:5px
}
p{
  color:var(--fourth-color);
  font-family:'Poppins', sans-serif;
}
b{
  color: orange 
}

.bg{
  width:100%
}
.outer-div {
        height:200px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin:10px
        
    }
.card{
        display: inline-block;
        width: 180px;
        height:180px;
        background-color: #262626;
        margin-left:5px;
        border-radius:5px;
        font-family: 'Poppins', sans-serif;      
    }
#C1{
  background-image:url('netflix.jpeg');
  background-size:cover
  
}
#C2{
  background-image:url("maharaj.jpeg");
  background-size:cover;
}
#C3{
  background-image:url("coming.jpg");
  background-size:cover;
}
h5{
  position:relative;
  top:120px;
   color:var(--secondary-color);
  backdrop-filter:blur(10px);
  border-radius:5px;
  padding:5px;
  
}
.links{
  position:relative;
  bottom: 70px;left:5px;
background-color:var(--fourth-color);
  color:var(--primary-color);
  padding:5px;
  border-radius:5px;
  font-size:10px 
  }
   
.png{
  width:20px;
  margin-top:20px
}
i{
  display:flex;
  justify-content: space-evenly;
}
i img{
  width:30px;
  display:inline;

}




@media only screen and (min-width:600px){

  h2{
    margin-top:100px;
    font-size:50px;
  }
  h1{
    font-size:60px
  }
  
  p{
    font-size:30px
  }
  .template{
    width:500px;
    position:absolute;
    right:30px;top:300px;
  }
  .skill h1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .skill p{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .project h1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .project p{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  i img{
    width:70px;
  }
  .outer-div {
    display:flex;
    justify-content: space-evenly;

  }
  .card {
     display:inline;
  }
  .contact{
    flex-direction:row;
    justify-content: space-evenly;
    background-image: url('con-bg-desk.jpg');
  }
  .form{
    width:500px;
    margin: 60px;
    box-shadow: 2px 2px 20px red;
  }
 .detail{
   flex-direction:column;
 }
}

