/* HTML and Body Boilerplate */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

}
:root {
  --theme: #00ff9d;
  --bg-color: #000000;
  --element: #0c0c0c;
  --text: #fbfbfb;
  --text2: #020d19;
}

::selection {
  background-color: var(--theme); /* highlight background color */
  color: #000000;            /* highlighted text color */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  box-sizing: border-box;
   
}
li {
  list-style: none;
}
h1 {
  color: var(--theme);
  font-size: 50px;
}
html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .contact-section .links {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  .form-container .form-group input,
  textarea {
    width: 250px;
  }
  
  .hero-section-container {
    flex-direction: column;
  }
  .hero-section-container img {
    margin-top: 50px;
    width: 250px;
  }

  .nav-btn {
    display: none;
  }
  .navbar .bar-btn {
    display: block;
    border: none;
    color: var(--text);
    font-size: 25px;
    background: transparent;
  }
  .mob-nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 300px;
    backdrop-filter: blur(50px);
    justify-content: space-evenly;
  }
  .mob-nav a {
    color: var(--text);
    text-decoration: none;
  }
  .profilecard {
  width: 20em;
  }
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer h2 {
    font-size: medium;
  }
  .footer span p {
    font-size: small;
    text-align: center;
    opacity: 0.5;
  }
}

/* NAVBAR CSS ------------------------------------------------------------------------ */

.Navbar-section {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100px;
  z-index: 10;
}
.navbar {
  padding: 16px;
  border-radius: 30px;
  backdrop-filter: blur(25px);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  width: 50%;
  justify-content: space-evenly;
}
.nav-btn a {
  color: var(--text);
  text-decoration: none;
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: var(--theme);
    color: var(--text2);
  }
  .skillCardContainer .skillCard {
    margin: 10px;
  }
}
.bar-btn {
  display: none;
}

/* HOME PAGE ===================================================================== */
.Hero-section {
  padding: 100px 0px 100px 0px;
  background: radial-gradient(
    circle at right,
    rgba(0, 128, 0, 0.5),
    transparent 25%
  );
}
.hero-section-container {
  width: 70%;
  justify-content: space-between;
}

.hero-section-container img {
  max-width: 500px;
}

/* From Uiverse.io by mrhyddenn */
.shadow__btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--text2);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: var(--theme);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 255, 21), 0 0 10px rgb(0, 255, 64),
    0 0 15px rgb(0, 255, 64), 0 0 20px rgb(0, 255, 64);
}

/* ABOUT SECTION ============================================================================== */

.About-section-body {
  background: radial-gradient(
    circle at left,
    rgba(0, 128, 0, 0.5),
    transparent 25%
  );
}
.About-section {
  width: 70%;
  padding: 100px 0px 100px 0px;
}

.profilecard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profilecard .info {
  font-weight: 400;
  color: var(--text);
  display: block;
  text-align: center;
  font-size: 1em;
}

.profilecard .img {
  width: 4.8em;
  height: 4.8em;
  background: var(--text);
  border-radius: 15px;
}

.profilecard .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.profilecard a {
  color: var(--text);
  transition: 0.4s ease-in-out;
}

.profilecard a:hover {
  color: var(--theme);
}

.profilecard button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.profilecard button:hover {
  background: var(--theme);
  color: var(--text2);
  cursor: pointer;
}
.profilecard .share {
  margin: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.share a{
  font-size: 30px;
}

/* SKILL CSS --------------------------------------------------------*/

.skill-section-body {
  padding: 100px 0px 100px 0px;
  background: radial-gradient(
    circle at right,
    rgba(0, 128, 0, 0.5),
    transparent 25%
  );
}
.skill-section {
  width: 70%;
  text-align: center;
}
.skillCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 50px;
}
.skillCard {
  height: 100px;
  width: 110px;
  padding: 0px 3px 15px 3px;
  margin-bottom: 30px;
  transition: 0.3s;
  border: 1px solid white;
  border-radius: 11px;
  background-color: var(--element);

  &:hover {
    transform: translateY(-9px);
  }
}
.skillCard h4 {
  margin: 0px 0px 10px 0px;
}
.skillCard p {
  margin: 0px 0px 25px 0px;
  font-size: small;
  background-color: var(--text2);
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}
.skillCard img {
  width: 50px;
  box-shadow: 0px 0px 5px var(--theme);
  transform: translateY(-20px);
  background-color: #000000;
  padding: 5px;
  border-radius: 5px;
}

/* From Uiverse.io by JohnnyCSilva */

/* Project sectionn ------------------------------------------------------------------- */

.project-section-body {
  padding: 100px 0px 100px 0px;
}
.project-section {
  width: 80%;
}
.projectCard {
  flex-wrap: wrap;
}
.projectCard .card {
  width: 250px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  justify-content: space-evenly;
  align-items: start;
  font-size: small;
  border-radius: 10px;
  background: radial-gradient(
    circle at top left,
    var(--theme),
    var(--element) 50%
  );
  transition: 0.4s;
  &:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 10px var(--theme);
  }
}
.projectCard .card li {
  background-color: rgb(7, 7, 7);
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
  margin: 5px;
}
.projectCard .card img {
  width: 100%;
  border-radius: 10px;
}
.linkBtn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.linkBtn a {
  color: var(--text);
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.3s;

  &:hover {
    background-color: var(--theme);
    color: var(--text2);
  }
}

/* Contact css -----------------------------------------------------*/

.contact-sectionn-body {
  padding: 50px 0px 100px 0px;
  background: radial-gradient(
    circle at left,
    rgba(0, 128, 0, 0.5),
    transparent 25%
  );
}
.contact-section {
  width: 70%;
  justify-content: space-between;
}

.contact-section .links img {
  width: 400px;
}
/* From Uiverse.io by omriluz */

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  max-width: 320px;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  max-width: 320px;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: var(--primary);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: var(--primary);
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: var(--text2);
  font-weight: 600;
  width: 40%;
  background: var(--theme);
  border: 1px solid var(--element);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.form-container .form-submit-btn:hover {
  background-color: var(--element);
  color: var(--text);
  border-color: #fff;
}

/* popup */
/* From Uiverse.io by PriyanshuGupta28 */
.toast {
  position: fixed;
  top: 100px;
  left: 20px;
  display: flex;
  align-items: center;
  background-color: var(--theme);
  color: var(--text2);
  font-size: small;
  font-weight: 600;
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.toast button {
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin: 0px 5px;
  color: white;
  &:hover {
    background-color: red;
  }
}

/* Footer css ------------------------------------------------------ */
.footer {
  padding: 30px 0px;
  border-top: 2px solid green;
  background-color: rgba(51, 51, 51, 0.171);
  justify-content: space-evenly;
}
