@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
:root {
  --theme: #00ff9d;
  --bg-color: #000000;
  --element: #0c0c0c;
  --text: #fbfbfb;
  --text2: #020d19;
}

::selection {
  background-color: var(--theme); /* highlight background color */
  color: #000000; /* highlighted text color */
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text);
  height: 100%;
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}